<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Budget Manager</title>
#set($contextPath = $link.getContextURL() )
<script>
var jsContextpath = '$contextPath';
</script>
<link rel="stylesheet" href="${contextPath}/plugins/bootstrap-3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="${contextPath}/plugins/bootstrap-3.3.5/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="${contextPath}/plugins/jquery-ui-1.11.4/jquery-ui.min.css">

<script src="${contextPath}/js/jquery-1.11.3.min.js"></script>
<script src="${contextPath}/plugins/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="${contextPath}/plugins/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script src="${contextPath}/js/expenseManager.js"></script>

</head> 
<body>
<nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a href="#" class="navbar-brand">ExpMgr</a>-->
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                 <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Expenses <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="${contextPath}/expense-list.html">Expenses</a></li>
                        <li class="divider"></li>
                        <li><a href="${contextPath}/expense-category-list.html">Category</a></li>
                        <li class="divider"></li>
                        <li><a href="${contextPath}/expense-subcategory-list.html">Sub Category</a></li>
                        <li class="divider"></li>
                        <li><a href="${contextPath}/payment-method-list.html">Payment Method</a></li>
                        <li class="divider"></li>
                        <li><a href="${contextPath}/payee-list.html">Payee</a></li>
                    </ul>
                </li>
                 <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Income <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Category</a></li>
                        <li class="divider"></li>
                       
                    </ul>
                </li>
               <li class="active"><a href="${contextPath}/expense-create.html">New Expense</a></li>
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
<div id="content">$screen_content</div>
</body>
</html>       